body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	color: black;
}

h1 {
	font-size: 48px;
	font-family: Georgia;
	color: red;
}

h2 {
	color: White;
	font-size: 56px;
	font-family: 'Trebuchet MS' 
}


.cover {
	
	background-color: black;
	font-family: 'Trebuchet MS', 'Helvetica';
}

.education {
	
	font-family: Georgia,Trebuchet;
	font-size: 1.8em;
	color: white;
	background: indigo;

}

.interest {
	background-color: rgb(0, 153, 255);
	font-size: 1.8em;
}

.language {background-color: rgb(0, 255, 0);
font-size: 1.8em;}

.score {background-color: rgb(255, 255, 0);
font-size: 1.8em;}
.skill {background-color: rgb(255, 51, 0);
font-size: 1.8em;}
.achievement {background-color: rgb(255, 0, 0);
font-size: 1.8em;}

.anchor1{
	font-size: 1em;
	font-family: georgia;
	font-size: 24px;
	align-items: right;
	align-content: right;
	text-align: right;

}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}
.endsr{background-color: black;}


#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
